.swifpost-status{
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  text-align: center;
  line-height: 32px;

  &.enabled{
    background-color: green;
    color: #ffffff;
  }

  &.disabled{
    background-color: #ff0000;
    color: #ffffff;
  }
}